Select {
    margin: 1 1;
}

DataTable {
    height: 1fr;
    margin: 1 1;
}

.datatable--header {
    padding: 1 2;
    text-style: bold;
}

.datatable--even-row {
    padding: 1 2;
}

.datatable--odd-row {
    padding: 1 2;
}
